@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

html {
	font-family: 'Varela Round', sans-serif;
}

#app {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr auto;
	max-width: 500px;
	margin: auto;
}

.controls {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
	align-items: center;
	gap: 2ch;
	list-style: none;
}

ol {
	grid-area: 2 / 1 / 3 / 3;
	margin: unset;
	padding: unset;
}

#list {
	list-style: none;
}
